.main {
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 1540px;
    margin-left: 40px;
    position: fixed;
    top: 860px;
  }

  &__btns {
    background: white;
    padding: 7px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  &__number {
    border-radius: 8px;
    background: #fda371;
    color: white;
    padding: 7px 10px 7px 10px;
  }
}
